data/node-red.json
[{"id":"5c21b940.a3de48","type":"http in","z":"603756b7.9a37b","name":"Request to process content","url":"/process-author","method":"post","swaggerDoc":"","x":156,"y":238,"wires":[["3b901702.c46fe8","e7af9263.18507"]]},{"id":"bdc46a32.423b98","type":"http response","z":"603756b7.9a37b","name":"","x":790,"y":495,"wires":[]},{"id":"3b901702.c46fe8","type":"debug","z":"603756b7.9a37b","name":"","active":true,"console":"false","complete":"false","x":433,"y":431,"wires":[]},{"id":"bf693c44.4096c","type":"cloudant out","z":"603756b7.9a37b","service":"NodeInsightsWorkflows-cloudantNoSQLDB","cloudant":"","name":"Save Data","database":"insightsdata","payonly":true,"operation":"insert","x":948,"y":497,"wires":[]},{"id":"13e6ad0.fec1953","type":"http in","z":"603756b7.9a37b","name":"Get Author Data","url":"/get-author-data","method":"get","swaggerDoc":"","x":117,"y":563,"wires":[["3d6da5a7.c2925a"]]},{"id":"b14df14f.4eb21","type":"http response","z":"603756b7.9a37b","name":"","x":439,"y":565,"wires":[]},{"id":"3d6da5a7.c2925a","type":"cloudant in","z":"603756b7.9a37b","service":"NodeInsightsWorkflows-cloudantNoSQLDB","cloudant":"","name":"Get Data","database":"insightsdata","search":"_id_","design":"","index":"","x":290,"y":564,"wires":[["b14df14f.4eb21"]]},{"id":"9fdfc5a1.602038","type":"watson-personality-insights","z":"603756b7.9a37b","name":"Get Insights","x":645,"y":314,"wires":[["94fce429.6b0318"]]},{"id":"9a8bee0c.65741","type":"function","z":"603756b7.9a37b","name":"msg.payload parser","func":"var parsed = msg.payload;\nmsg.original = msg.payload;\nvar output = parsed.content;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":314,"wires":[["9fdfc5a1.602038"]]},{"id":"8aa4b2b9.755b5","type":"comment","z":"603756b7.9a37b","name":"msg.payload function","info":"We need to add a function before sending data\nto personality insights in order to parse the\ndata in msg.payload, and not send pure JSON.\nPersonality Insights expects data to be read\nfrom msg.payload","x":451,"y":356,"wires":[]},{"id":"94fce429.6b0318","type":"function","z":"603756b7.9a37b","name":"msg.insights creator","func":"msg.payload = msg.insights\nreturn msg;","outputs":1,"noerr":0,"x":833,"y":314,"wires":[["126c09a2.ed93f6"]]},{"id":"126c09a2.ed93f6","type":"function","z":"603756b7.9a37b","name":"create summary","func":"function getBig5 (big5) {\n\tvar data = [];\n\tfor (var i = 0; i < big5.length; i++) {\n\t\tdata.push({\n\t\t\tname: big5[i].name,\n\t\t\tpercentage: big5[i].percentage\n\t\t});\n\t}\n\n\treturn data;\n}\n\nvar big5 = getBig5(msg.insights.children[0].children[0].children);\nmsg.payload = {\n    // We need to create a guid and send it with the initial request\n    // We can use an online guid generator and add it in postman for _id\n    // with the original payload we are sending\n\t_id: msg.original._id,\n\ttitle: msg.original.title,\n\tcontent: msg.original.content,\n\tPISummary: big5,\n\tPIRaw: msg.insights\n};\nreturn msg;","outputs":1,"noerr":0,"x":792,"y":431,"wires":[["bdc46a32.423b98","bf693c44.4096c"]]},{"id":"9b659427.649a68","type":"comment","z":"603756b7.9a37b","name":"msg.insights creator","info":"Watson personality insights returns data in the msg.insights\nproperty, but by default, data is transported in the msg.payload prop.\nWe created this function to assign the data from msg.insights to\nmsg.payload\n","x":826,"y":354,"wires":[]},{"id":"6877b96e.978848","type":"comment","z":"603756b7.9a37b","name":"summary function","info":"We do not want all the personality data to be returned in the response\nand saved in the db. We want to create a summary of it. For this we will\nwrite a new function that will handle creating the summary of the data\nfrom personality insights.","x":978,"y":433,"wires":[]},{"id":"e7af9263.18507","type":"switch","z":"603756b7.9a37b","name":"Watson Service Selector","property":"payload.service","rules":[{"t":"eq","v":"translate"},{"t":"else"}],"checkall":"false","outputs":2,"x":410,"y":209,"wires":[["89bb3d11.7644c"],["9a8bee0c.65741"]]},{"id":"89bb3d11.7644c","type":"function","z":"603756b7.9a37b","name":"msg.payload parser","func":"var parsed = msg.payload;\nmsg.original = msg.payload;\nvar output = parsed.content;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":117,"wires":[["9017ee8d.6fe81"]]},{"id":"9017ee8d.6fe81","type":"watson-translate","z":"603756b7.9a37b","name":"","srclang":"en","destlang":"fr","domain":"news","x":682,"y":114,"wires":[["deb8edb0.21471","59c64a47.a639b4"]]},{"id":"59c64a47.a639b4","type":"http response","z":"603756b7.9a37b","name":"","x":868,"y":167,"wires":[]},{"id":"deb8edb0.21471","type":"cloudant out","z":"603756b7.9a37b","service":"NodeInsightsWorkflows-cloudantNoSQLDB","cloudant":"","name":"Save Data","database":"insightsdata","payonly":true,"operation":"insert","x":880,"y":63,"wires":[]},{"id":"f8a5dea3.075a2","type":"twitter out","z":"603756b7.9a37b","twitter":"","name":"Tweet","x":451,"y":673,"wires":[]},{"id":"13aa3ec8.ec55c1","type":"http in","z":"603756b7.9a37b","name":"Create Tweet","url":"/insight-tweets","method":"post","swaggerDoc":"","x":118,"y":674,"wires":[["3374bd9f.cc8b42"]]},{"id":"3374bd9f.cc8b42","type":"function","z":"603756b7.9a37b","name":"extract tweet","func":"msg.payload = msg.payload.tweet\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":674,"wires":[["f8a5dea3.075a2"]]}]
